.first{
    background-color: #1f2937;
}
.parent{
    background-color: #1f2937;
    padding: 1cm;
    padding-left: 2cm;
    padding-right: 2cm;
    border: 2px solid red;
    margin: 1px; 
   display: flex;
   justify-content:space-between;
     
}
div.child2{
    border: 1px solid black;
    display: flex;
    gap: 50px;  
    text-decoration: none; 
}
div.child1{
    border: 1px solid black;
}

.second{
    background-color: #1f2937;
    padding: 2cm;
    border: 2px solid red;
    display: flex;
    margin: 1px;
    flex:1;
    justify-content: space-between;
}
.third{
    background-color: antiquewhite;
    padding: 2cm;
    border: 2px solid red;
    display: flex;
    margin: 1px;
    flex: 1;
    justify-content: space-around;
}
.fourth{
    background-color: #1f2937;
    padding: 1cm;
    align-items: center;
    padding-left: 3cm;
    padding-right: 3cm;
    border: 2px solid red;
    margin: 1px;
}
#cite1{
    text-align: right;
    padding-right: 10px;
}
.fifth{
    background-color: antiquewhite;
    padding: 1cm;
    border: 2px solid red;
    display: flex;
    margin: 1px;
    flex: 1;
    justify-content: space-around;
    
}
footer{
    background-color:  #1f2937;
    border: 2px solid red;
    text-align: center;
    
}
 #nav2{
    font-size: 24px;
    color : #f9faf8;
}
#nav1{
    font-size: 18px;
    color: #e5e7eb;
}
#id1,#fourth1{
    color: #e5e7eb;
}

.table1{
    gap: 50px;
}
.data1{
    padding: 1cm;
    border: 1px solid red;
    text-align: left;
    width: 50%;
    
}
.data2{
    padding: 1cm;
    border: 1px solid red;
    width: 50%;
    text-align: center;
    font-size: 20px;
}